:root {
    --main-font-family: "Inter", sans-serif;
    --accent-font-family: "PressStart2P", fantasy;
    --main-font-weight: 410;
    --headings-font-weight: 715;
    --main-bg-color: #FFFFFF;
    --main-text-color: #000000;
    --button-text-color: #FFFFFF;
    --like-main-body-color: none;
    --like-contour-color: var(--main-text-color, #000000);
    --like-sparks-color: #ff0000;
}